[user]
	email = mr.carambar27@gmail.com
	name = Ninhache
[core]
	editor = vim
[init]
    defaultBranch = main

[includeIf "gitdir:~/pit_project/"]
    path = ~/.gitconfig-pit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@git.pit-fabrik.fr:"]
	insteadOf = https://git.pit-fabrik.fr/
[url "git@github.com:"]
	insteadOf = https://github.com/
[include]
	path = ~/.gitconfig.local
